*{
    margin: 0%;
}

.shadow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);
}

#header{
    height: 0.5%;
    background-color: rgba(170, 170, 170, 0.568);
}

.logo-sky {
    display: inline-block;
    height: 50px;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#banner {
    width: 100%;
    margin-top: 100px;
}

.rodape {
    background-color: rgba(170, 170, 170, 0.568);
    display: block;
    margin-top: 100%;
    padding-bottom: 2%;

    color: rgb(77, 77, 77);
}

.logo-sky-rodape {
    display: inline-block;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#baixeApp {
    margin-bottom: 5%;
}

#legendaApp {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    vertical-align: top;

    font-weight: bold;
}

.appleStore-googlePlay{
    width: 45%;
    margin-left: 2%;
}

.box-rodape {

    display: inline-block;
    width: 25%;

    vertical-align: top;

    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: auto;

    text-align: justify;
}

.menu-rodape {
    font-size: 95%;
    text-align: center;

    margin-top: 2%;

    padding-left: 10%;
    padding-right: 10%;
}