*{
    margin: 0%;
}

.shadow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);
}

#header{
    height: 0.5%;
    background-color: rgba(170, 170, 170, 0.568);
    color: rgb(77, 77, 77);
}

.box-header {
    display: inline-block;

    width: 20%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 1%;
    vertical-align: top;

}

.box-header img {
    margin-left: 10px;
    margin-right: 10px;
}

#top-menu {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;

    margin-top: 2%;
}

.logo-sky {
    display: inline-block;
    height: 50px;
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;

}

#highlights {
    width: 100%;
    height: 40%;
    background-color: rgba(0, 0, 0, 0.301);

    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;

}

.img-menu {
    display: inline-block;
    width: 15%;

    margin-top: 10px;
    margin-left: 0.3%;
    margin-right: 0.3%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);

}

.img-menu:hover {
    width: 35%;

    transition-duration: 1s;
}

.img-menu:not(hover) {
    transition-duration: 1s;
}

#carousel {
    width: 100%;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.479);

}

.img-carousel {
    display: inline-block;
    width: 13%;

    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.479);

}

.img-carousel:hover {
    width: 18%;

    transition-duration: 1s;
}

.img-carousel:not(hover) {
    transition-duration: 1s;
}

.rodape {
    background-color: rgba(170, 170, 170, 0.568);
    display: block;
    margin-top: 10%;
    padding-bottom: 2%;

    color: rgb(77, 77, 77);
}

a {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

a:hover {
    text-decoration: none;
    color: rgb(199, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(102, 1, 1);
    font-weight: bold;
}

.logo-sky-rodape {
    display: inline-block;
    height: 40px;
    margin-top: 1%;
    margin-bottom: 1%;
}

#baixeApp {
    margin-bottom: 5%;
}

#legendaApp {
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
    vertical-align: top;

    font-weight: bold;
}

.appleStore-googlePlay{
    width: 45%;
    margin-left: 2%;
}

.box-rodape {

    display: inline-block;
    width: 25%;

    vertical-align: top;

    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: auto;

    text-align: justify;
}

.menu-rodape {
    font-size: 95%;
    text-align: justify;

    margin-top: 2%;

    padding-left: 5%;
    padding-right: 5%;
}